<div class="modal-header">
  <div class="row row-no-margin w-100">
    <div class="col-3 col-no-padding text-center"><i>Descriere</i></div>
    <div class="col-3 offset-1 col-no-padding text-center"><i>Ora</i></div>
    <div class="col-4 offset-1 col-no-padding text-center">
      <i>Imagine</i>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body" style="height: 500px; overflow-y: scroll;">
  <div *ngFor="let notification of unseenNotif">
    <div class="row row-no-margin content-row" (click)="seeNotification(notification.id)">
      <div class="col-3 col-no-padding text-center item-text"><i [class]="notification.seen? 'text-muted' : 'unseen-notif'">{{notification.name}}</i></div>
      <div class="col-3 offset-1 col-no-padding text-center item-text"><i [class]="notification.seen? 'text-muted' : 'unseen-notif'">{{notification.endHour}}</i></div>
      <div class="notification-item col-4 offset-1 col-no-padding">
        <img [src]="notification.filePath" alt="Imaginea se incarca" style="margin: 2px 5px 2px 5px;">
      </div>
    </div>
  </div>
  <div *ngFor="let notification of seenNotif">
    <div class="row row-no-margin content-row" (click)="seeNotification(notification.id)">
      <div class="col-3 col-no-padding text-center item-text"><i [class]="notification.seen? 'text-muted' : 'unseen-notif'">{{notification.name}}</i></div>
      <div class="col-3 offset-1 col-no-padding text-center item-text"><i [class]="notification.seen? 'text-muted' : 'unseen-notif'">{{notification.endHour}}</i></div>
      <div class="notification-item col-4 offset-1 col-no-padding">
        <img [src]="notification.filePath" style="margin: 2px 5px 2px 5px;">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Inchide</button>
</div>


