@media (min-width: 576px) {
  .row>div{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .row>div{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px){
  .col-lg-7{
    margin-left:20.83333%;
  }
}
