<div  *ngIf="user.email" class="row align-items-center">
  <div class="col-6 hide-if-long">
    <p>{{user.email}}</p>
  </div>
  <div class="col-2 order-sm-first">
    <img src="./assets/img/header-toolbox/oval-2.jpg"
         srcset="./assets/img/header-toolbox/oval-2@2x.jpg 2x,./assets/img/header-toolbox/oval-2@3x.jpg 3x" class="avatar">
  </div>
  <div class="col-2">
    <img src="../assets/img/header-toolbox/notification.svg" (click)="openNotificationsModal()" class="mini">
  </div>
  <div class="col-2">

    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
        <img src="../assets/img/header-toolbox/shape.svg" class="mini">
      </a>
      <div class="dropdown-menu" aria-labelledby="toolboxDropdown">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" routerLink="/tasks" *ngIf="isEmployee()">Tasks</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()">Log out</a>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!user.email" class="row">
  <div class="col-2 offset-9">
    <i class="login-text" (click)="showLogin()">Login</i>
  </div>
</div>

