.avatar {
  height: auto;
  width: 75%;
}

.hide-if-long{
  overflow: hidden;
}

.mini {
  width: 45%;
  height: auto;
}

p {
  visibility: hidden;
  font-size: 11px;
}

.dropdown-toggle::after {
  position: absolute;
  left: -9990px;
}

.dropdown-menu {
  transform: translate3d(-13px, 15px, 0px) !important
}

.dropdown-item{
  padding: 0 0.5rem;
}

.dropdown-item:hover{
  color: white;
  background-color: #0092dd;
}

.row > div {
  padding: 0;
}

@media (min-width: 576px) {
  p {
    visibility: visible;
  }

  .dropdown-menu {
    transform: translate3d(-9px, 20px, 0px) !important
  }
}

@media (min-width: 768px) {
  p{
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  p{
    font-size: 16px;
  }
}

@media (min-width: 1200px){
  .dropdown-menu {
    transform: translate3d(-11px, 30px, 0px) !important
  }
}

