<div class="row row-no-margin">
  <div class="col-12 col-no-padding">
    <app-carousel></app-carousel>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-no-padding">
    <div class="row row-no-margin second-row">
      <div class="col-10 offset-1 col-no-padding">
        <div class="card">
          <img class="card-img-top" src="./assets/img/home/couch.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pet Hotel</h5>
            <p class="card-text">Aici poti gasi camera perfecta in care va sta prietenul tau cat timp esti plecat in
              vacanta.</p>
            <a href="./pet-hotel" class="btn btn-primary">Afla mai multe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-no-padding">
    <div class="row row-no-margin second-row">
      <div class="col-10 offset-1 col-no-padding">
        <div class="card">
          <img class="card-img-top" src="./assets/img/home/kindergarten.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Daycare</h5>
            <p class="card-text">Nu vrei sa iti lasi companionul singur cat esti la serviciu? Sistemul nostru de daycare
              iti sare in ajutor.</p>
            <a href="./daycare" class="btn btn-primary">Afla mai multe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-no-padding">
    <div class="row row-no-margin second-row">
      <div class="col-10 offset-1 col-no-padding">
        <div class="card">
          <img class="card-img-top" src="./assets/img/home/training.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Training</h5>
            <p class="card-text">Nu putem sa antrenam animalul tau de companie sa fie urmatorul campion la wrestling,
              dar pentru restul avem solutii.</p>
            <a href="#" class="btn btn-primary">Afla mai multe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-no-padding">
    <div class="row row-no-margin second-row">
      <div class="col-10 offset-1 col-no-padding">
        <div class="card">
          <img class="card-img-top" src="./assets/img/home/brushes.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Grooming</h5>
            <p class="card-text">Stim ca prietenii nostri necuvantatori pot fi greu de intretinut. Adu-l la noi si il
              aranjam ca si cum ar fi al nostru.</p>
            <a href="#" class="btn btn-primary">Afla mai multe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-no-padding">
    <div class="row row-no-margin second-row">
      <div class="col-10 offset-1 col-no-padding">
        <div class="card">
          <img class="card-img-top" src="./assets/img/home/taxi.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Taxi</h5>
            <p class="card-text">Stim ca uneori timpul te preseaza mult prea tare asa ca ne oferim sa iti luam prietenul
              chiar de acasa</p>
            <a href="#" class="btn btn-primary">Afla mai multe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-no-padding">
    <div class="row row-no-margin second-row">
      <div class="col-10 offset-1 col-no-padding">
        <div class="card">
          <img class="card-img-top" src="./assets/img/home/shop.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pet shop</h5>
            <p class="card-text">Pentru ca "baietii buni" merita si recompense</p>
            <a href="#" class="btn btn-primary">Afla mai multe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
