.row{
    margin-bottom: 2em;
}

.card-img-top{
  height: 10em;
  object-fit: cover;
}
.card{
    height: 100%;
    width: 100%;
  overflow: hidden;
}

.card-title{
  font-weight: bold;
}

.second-row{
  margin-bottom: 0;
}

.card-text{
  height: 30px;
  margin-bottom: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-text::-webkit-scrollbar {
  display: none;
}

.btn{
  font-size: inherit;
  font-weight: bold;
}

@media (min-width: 576px) {
  .card-text{
    height: 4em;
  }
}

@media (max-width: 576px) {
  .col-10{
    margin-bottom: 15px;
  }

  .card{
    max-width: 300px;
    margin: auto;
  }
}



