.carousel{
    margin: 5px 0 10px 0 ;
}
img{
  height: 50vw;
  object-fit: cover;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  height:10px;
}

li{
  width: 20px;
  height: 4px;
}

.carousel-caption{
  padding: 0;
}

@media (min-width: 576px){
  img{
    height: 42vw;
  }
}

@media (min-width: 768px) {
  img{
    height: 35vw;
  }
}


@media (min-width: 992px) {
  img{
    height: 32vw;
  }
}

@media (min-width: 1200px) {
  img {
    height: 28vw;
  }
}

