<!-- <div id = "container--login" >
  <h1>Log In</h1>
  <div id="error" ><p>{{errorMessage}}</p></div>
  <h3>Email:</h3>
  <input [ngClass]="{errorInput:errorMessage!=undefined}" type="text"
  [(ngModel)]="loginModel.emailAddress"  #emailLogin/>
  <div [hidden]="isValidEmail(emailLogin.value) || emailLogin.value==''"
      class="alert-danger">
      <div>Invalid email address format.</div>
  </div>
  <h3>Password:</h3>
  <div id="password">
      <input [ngClass]="{errorInput:errorMessage!=undefined}"
      type="{{passwordType?'password':'text'}}" [(ngModel)]="loginModel.password" #password/>
      <img (click)="togglePassword()" src="./assets/img/login/eye-copy.png" srcset="./assets/img/login/eye-copy@2x.png 2x,
      ./assets/img/login/eye-copy@3x.png 3x" class="eye-copy">
  </div>


  <label><input id="rememberme" name="rememberme" value="remember" type="checkbox" [(ngModel)] = "rememberMe"/><p> &nbsp;Remember me</p></label>

  <a routerLink="/forgot-password">Forgot password?</a>
  <input (click)="login()" type="submit"  value="Log In"/>

</div> -->