<div class="container">
  <div class="row rleft">
    <div class="col-sm-4">
      <img src="./assets/img/daycare/1day.jpg" alt="dog-economy image" class="img-thumbnail">
      <div class="imgBtn">
        <p>ABONAMENT DE O ZI</p>
        <p class="price">50 lei</p>
      </div>
      <div class="desc-text">
        <p>Padoc individual acoperit (6 metri patrati) ce contine:</p>
        <ul>
          <li>casuta termoizolata incalzita(3 metri patrati)</li>
          <li>spatiu liber (3 metri patrati)</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class = "row rright">
    <div class="col-sm-4">
      <img src="./assets/img/daycare/5days.jpg" alt="dog-regular image" class="img-thumbnail">
      <div class="imgBtn">
        <p>ABONAMENT DE 5 ZILE</p>
        <p class="price">70 lei</p>
      </div>
      <div class="desc-text">
        <ul>
          <li>camera clasica confort</li>
          <li>terasa</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row rleft">
    <div class="col-sm-4">
      <img src="./assets/img/daycare/10days.jpg" alt="dog-vip image" class="img-thumbnail">
      <div class="imgBtn">
        <p>ABONAMENT DE 10 ZILE</p>
        <p class="price">100 lei</p>
      </div>
      <div class="desc-text">
        <ul>
          <li>camera de hotel</li>
          <li>elemente familiare de decor</li>
          <li>televizor pornit</li>
          <li>fotoliu</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row rright">
    <div class="col-sm-4">
      <img src="./assets/img/daycare/20days.jpg" alt="cat-economy image" class="img-thumbnail">
      <div class="imgBtn">
        <p>ABONAMENT DE 20 DE ZILE</p>
        <p class="price">40 lei</p>
      </div>
      <div class="desc-text">
        <ul>
          <li>ansamblu de joaca supraetajat</li>
          <li>jucarii</li>
          <li>etajera</li>
          <li>litiera</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class = "row rleft">
    <div class="col-sm-4">
      <img src="./assets/img/daycare/30days.jpg" alt="cat-regular image" class="img-thumbnail">
      <div class="imgBtn">
        <p>ABONAMENT DE 30 DE ZILE</p>
        <p class="price">60 lei</p>
      </div>
      <div class="desc-text">
        <ul>
          <li>aventura park in miniatura</li>
        </ul>
      </div>
    </div>
  </div>

</div>
