<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="displayMonths" [dayTemplate]="t" [maxDate]="maxDate" [minDate]="minDate">
</ngb-datepicker>

<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="(isFrom(date) || isTo(date) || isInside(date) || isHovered(date)) && !isDisabled(date)"
        [class.faded]="(isHovered(date) || isInside(date)) && !isDisabled(date)"
        [class.disabled]="isDisabled(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
