@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import '../node_modules/reset-css/reset.css';
body{
    font-family: "Roboto", sans-serif;
    margin:0;
    font-size: 13px;
}

.dropdown-menu {
  min-width: auto;
  font-size: 10px;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.col-no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

* {
  box-sizing: border-box;
}


@media (min-width: 576px) {
  body, .dropdown-menu{
    font-size: 15px;
  }
}

@media (min-width: 992px){
  body, .dropdown-menu{
    font-size: 18px;
  }
}

@media (min-width: 1440px){
  body, .dropdown-menu{
    font-size: 25px;
  }
}
