<!-- <div class="Rectangle">
  <h1>Forgot password</h1>
    <div class="Enter-your-email-add" *ngIf="show">Enter your email address</div>
    <div id="email-field" *ngIf="show">
      <input type="text" [(ngModel)]="email" (ngModelChange)="detectChange()">
    </div>
  
    <div class="Rectangle-8" *ngIf="show">
      <div class="Instructions">Instructions to reset your password will be sent to your email address.</div>
    </div>
  
    <div [class]="button()" (click)="sendEmail()" *ngIf="show">
      <div class="Reset-password">Reset password</div>
    </div>
  
    <div class="went-wrong" *ngIf="show_bad">Oops, something went wrong</div>
  
    <img src="./assets/img/forgot-password/cancel.svg"
         class="cancel" *ngIf="show_bad">
    <div class="try-again-button" *ngIf="show_bad" (click)="refresh()">
      <div class="Try-Again">Try Again</div>
    </div>
    <div class="or-Contact-the-admin" *ngIf="show_bad">or<br>
      Contact the admin at <div class="text-style-1">admin@woofwoof.com.</div>
    </div>
  
  <div class="Email-sent-Check-yo" *ngIf="show_good">Email sent. Check your inbox for instructions to reset your password </div>
    <img src="./assets/img/forgot-password/checked-v.svg"
         class="checked" *ngIf="show_good">
    <div class="try-again-button" *ngIf="show_good" (click)="redirect()">
      <div class="Back-to-Log-In">Back to Log In</div>
    </div>
  </div>
   -->