.close{
  position: absolute;
  right:9999px;
}

.modal-header{
  padding: 0;
}


.active {
  background-color:#14b1ff !important;;
}

.modal-header>div>div{
  padding: 16px 0 16px 0;
  background-color: #0092dd;
  color: white;
  border-right: 1px solid white;
  cursor: pointer;
  margin:0;
}

.modal-header>div>div:hover,
.modal-header>div>div:active{
  background-color:#14b1ff ;
}

h4{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.modal-header a {
  color: inherit;
  text-decoration: none;
}

/*::-webkit-input-placeholder {*/
  /*text-align: center;*/
/*}*/

/*:-moz-placeholder { !* Firefox 18- *!*/
  /*text-align: center;*/
/*}*/

/*::-moz-placeholder {  !* Firefox 19+ *!*/
  /*text-align: center;*/
/*}*/

/*:-ms-input-placeholder {*/
  /*text-align: center;*/
/*}*/





/*.login-image{*/
  /*max-height: 200px;*/
  /*position: relative;*/
  /*left:50%;*/
  /*transform: translateX(-50%);*/
  /*margin-bottom: 10px;*/
/*}*/

/*#email, #password{*/
  /*width: 100%;*/
  /*text-align:center*/
/*}*/

/*.row>div{*/
  /*margin-bottom: 15px;*/
/*}*/


.no-border-right {
  border-right: 0 !important;
}


.special-i {
  margin-top: -60px;
  margin-left: 10px;
}

.display{
  display: block !important;
  opacity: 1;
}
