<div class="modal-header">
  <div class="row row-no-margin w-100">
    <div class="col-6 col-no-padding">
      <h4 class="login-title">Login</h4>
    </div>
    <div class="col-6 col-no-padding">
      <h4 class="register-title">Register</h4>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<!--<form [formGroup]="myForm" (ngSubmit)="submitForm()">-->
<div class="modal-body">
  <img src="./assets/img/login/login.png" class="login-image">
  <!--<div class="form-group" id="type-selector">-->
  <div class="row row-no-margin">
    <div class="col-8 offset-2 col-no-padding" id="error"><p>{{errorMessage}}</p></div>

    <div class="col-8 offset-2 col-no-padding">
      <input id="email" [ngClass]="{errorInput:errorMessage!=undefined}" type="text"
             [(ngModel)]="loginModel.emailAddress" #emailLogin placeholder="Email"/>
    </div>

    <div [hidden]="isValidEmail(emailLogin.value) || emailLogin.value==''"
         class="alert-danger col-8 offset-2">
      <div class="col-8 offset-2 col-no-padding">Invalid email address format.</div>
    </div>

    <div class="col-8 offset-2 col-no-padding">
      <input id="password" [ngClass]="{errorInput:errorMessage!=undefined}"
             type="{{passwordType?'password':'text'}}" [(ngModel)]="loginModel.password" #password
             placeholder="Password"/>
    </div>
    <div class="col-1 col-no-padding">
      <img (click)="togglePassword()" src="./assets/img/login/eye-copy.png" srcset="./assets/img/login/eye-copy@2x.png 2x,
      ./assets/img/login/eye-copy@3x.png 3x" class="eye-copy">
    </div>

    <div class="col-1 offset-2 col-no-padding">
      <label><input id="rememberme" name="rememberme" value="remember" type="checkbox"
                    [(ngModel)]="rememberMe"/></label>
    </div>
    <div class="col-7 col-no-padding">
      <p>Remember me</p>
    </div>

    <div class="col-8 offset-2 col-no-padding">
      <a routerLink="/forgot-password">Forgot password?</a>
    </div>

  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Inchide</button>
  <button class="btn btn-primary" (click)="login()" type="submit" >Login</button>
</div>


