<div class="modal-header">
  <div class="row row-no-margin w-100">
    <div class="col-6 col-no-padding" (click)="currentState = 1"
         [class]="currentState == 1 ? 'active col-6 col-no-padding' : 'col-6 col-no-padding'">
      <h4 class="login-title">Autentificare</h4>
    </div>
    <div class="col-6 col-no-padding no-border-right" (click)="currentState = 2"
         [class]="currentState == 2 ? 'active col-6 col-no-padding no-border-right' : 'col-6 col-no-padding no-border-right'">
     <h4 class="register-title">Inregistrare</h4>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>


<div class="modal-body">
  <div class="tabbable panel login-form width-400">

    <div class="tab-content panel-body">
      <div class="tab-pane fade display" *ngIf="currentState == 1" id="basic-tab1">
        <!--<form action="index.html">-->
        <div class="text-center">
          <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
          <h5 class="content-group">Intra in contul tau
            <small class="display-block">Credentialele tale</small>
            <span *ngIf="errorMessage" class="error-message display-block">{{errorMessage}}</span>
          </h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <input type="text" class="form-control" placeholder="Email" name="username" required="required"
                 [(ngModel)]="loginModel.email">
          <div class="form-control-feedback">
            <i class="special-i icon-user text-muted"></i>
          </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <input type="password" class="form-control" placeholder="Parola" name="password"
                 required="required" [(ngModel)]="loginModel.password">
          <div class="form-control-feedback">
            <i class="special-i icon-lock2 text-muted"></i>
          </div>
        </div>

        <div class="form-group login-options">
          <div class="row">
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <div class="checker"><span [ngClass]="rememberMe == true ?'checked': ''">
                            <input type="checkbox" class="styled" checked="checked" [ngModel]="rememberMe"
                                   (change)="rememberMe = !rememberMe;"></span>
                </div>
                Tine-ma minte!
              </label>
            </div>

            <div class="col-sm-6 text-right">
              <a href="login_password_recover.html">Am uitat parola</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn bg-blue btn-block" (click)="login()">Autentificare <i
            class="icon-arrow-right14 position-right"></i></button>
        </div>
        <!--</form>-->

        <span class="help-block text-center no-margin">Continuand, confirmati ca ati citit <a
          href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
      </div>

      <div class="tab-pane fade display" *ngIf="currentState == 2" id="basic-tab2">
        <!--<form action="index.html">-->
        <div class="text-center">
          <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
          <h5 class="content-group">Creare cont nou
            <small class="display-block">Toate campurile sunt obligatorii</small>
          </h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <input type="text" class="form-control" placeholder="Nume si prenume" [(ngModel)]="registerModel.name"
                 [ngModelOptions]="{standalone: true}">
          <div class="form-control-feedback">
            <i class="special-i icon-profile text-muted"></i>
          </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="registerModel.email"
                 [ngModelOptions]="{standalone: true}">
          <div class="form-control-feedback">
            <i class="icon-mention text-muted special-i"></i>
          </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <input type="password" class="form-control" placeholder="Parola"
                 [(ngModel)]="registerModel.password" [ngModelOptions]="{standalone: true}">
          <div class="form-control-feedback">
            <i class="icon-user-lock text-muted special-i"></i>
          </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
          <input type="text" class="form-control" placeholder="Numar de telefon" [(ngModel)]="registerModel.phone"
                 [ngModelOptions]="{standalone: true}">
          <div class="form-control-feedback">
            <i class="special-i icon-phone text-muted"></i>
          </div>
        </div>

        <div class="content-divider text-muted form-group"><span>Aditionale</span></div>

        <div class="form-group">

          <div class="checkbox">
            <label>
              <input type="checkbox" class="styled">
              Accept <a href="#">termenii si conditiile de utilizare</a>
            </label>
          </div>
        </div>

        <button type="submit" class="btn bg-blue btn-block" (click)="register()">Inregistrare <i
          class="icon-circle-right2 position-right"></i></button>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Inchide</button>
  <!--<button class="btn btn-primary" (click)="login()" type="submit">Login</button>-->
</div>


