.navbar {
  background-color: #0092dd;
  padding: 0;
  margin: 0 0 10px 0;
}

.dropdown-item {
  color: white;

}

.navbar-toggler{
  padding: 0;
  margin-right: 10px;
  border:0;
}

.navbar-toggler-icon{
  object-fit: contain;
  height: 22px;
}

.dropdown-item:hover,
.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: #ffffff;
  background-color: #14b1ff;
}

.nav-item {
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.dropdown-menu {
  background-color: #0092dd;
}

.navbar-brand{
  margin:0;
}

.nav-link {
  text-align: center;
  white-space: nowrap;

}

.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

li {
  cursor: pointer;
}

@media (min-width: 992px){
  .nav-link{
    padding: 12px;
  }
}

#navbarSupportedContent{
  margin-left: 0!important;
}
